.dash {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app_card {
    flex: 0 0 calc(8%) !important;
}

.app_card_body {
    display: flex;
    flex-wrap: wrap;
}

.card-img-body {
    margin: 0.5rem;
    width: 88px;

    img {
        border-radius: 1rem;
        border: #21d4fd 1px solid;
        transition: transform 0.2s ease, box-shadow 0.5s ease, scale 0.4s ease;
    }

    img:hover {
        scale: 110%;
        transform: translateY(-8px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

.dashboard-info {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
}
.alert {
    color: rgb(167, 48, 48);
}
.analytics-info {
    font-size: large;
    font-weight: bold;
    color: black;
    margin-bottom: 7px;
}
.card-icon {
    font-size: large;
    color: rgb(39, 145, 250);
}

.custom-dates {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.jobadder-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bar-chart {
    background: transparent
        linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0%
        no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;

    border-radius: 8px;
}

.job-card-number {
    font-size: 2rem !important;
    font-weight: bold !important;
}

.dash-jobadder-header {
    display: flex;
    flex-wrap: wrap;

    .jobadder-header-title {
        width: 50%;
        min-width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        h2 {
            width: 33%;
            margin-bottom: 0;
            min-width: 100px;
        }

        span {
            color: #888888;
            width: 33%;
            min-width: 150px;
        }
    }

    form {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .jobadder-header-datapicker {
        width: 30%;
        margin: 0.5rem;
        min-width: 200px;
    }

    .jobadder-header-filter {
        margin: 0.5rem;
        min-width: 200px;
    }
}

.stastic-title {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: normal;

    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ff00ff,
        0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff;

    animation: pulsate 2s ease-in-out infinite alternate;
}

/* Keyframes for a dynamic pulsing effect */
@keyframes pulsate {
    from {
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ff00ff,
            0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff;
    }
    to {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 25px #ff00ff,
            0 0 30px #ff00ff, 0 0 35px #ff00ff, 0 0 40px #ff00ff;
    }
}

@keyframes signin {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.stastic-card {
    background: transparent
        linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0%
        no-repeat padding-box;

    animation: signin 0.6s ease-out forwards;

    .ant-card-body {
        padding: 0.5rem 2rem !important;
    }
}

.google-card {
    border: #21d4fd 1px solid;
    .ant-card-body {
        padding: 0.5rem 2rem !important;
    }
}

.google-card-title {
    font-size: 1.2rem;
    color: #666666;
    font-weight: normal;
}
