.content{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
 .app_card{
    flex: 0 0 calc(8%) !important;
 }
 .card-img-body{
    padding:0px !important
 }
  .job-card{
   font-weight: bold;
  }
  .dashboard-info{
   color: grey;
  }
.alert{

  color: rgb(167, 48, 48);
}
.analytics-info{
font-size: large;
font-weight: bold;
color: black;
margin-bottom:7px;
}
 .card-icon{
   font-size:large;
   color:rgb(39, 145, 250);
 }
 
.icon-box {
   width: 48px;
   height: 48px;
   text-align: center;
   background: #1890ff;
   color: #fff;
   border-radius: 0.5rem;
   margin-left: auto;
   line-height: 55px;
 }
 
 .icon-box span {
   color: #fff;
   font-size: 24px;
 }
 .custom-dates{
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .jobadder-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }

 .bar-chart {
  background: transparent
    linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 4px 6px #0000001f;

  border-radius: 8px;
}